@import "mixin";
@import "selectric";
@import "font";
@import "reset";

body{
	max-width: 1440px;
	margin:auto;
	font-family: 'Open Sans';
}

.container{
   background:#000;
}

header{
	display: grid;
	align-items: center;
	justify-items: center;
	grid-template-columns: 100%;
	padding-bottom: 50px;

	@include tablet {
		grid-template-columns: 20% 20% 60%;
		padding-bottom: 0;
	}
}


.logo {
	padding: 30px;
	height: 100px;

	@include desktop {
		padding-right: 100px;
	}
}

.lable{
	color: #fff;
	line-height: 3;
	font-style: normal;
}

.myList{
	color: black;
}

.legal {
 padding: 20px 20px;
 background: black;
 color: #c2c2c2;
 text-align: center;
 margin: 0;

}

.top-stories {
	display: grid;
	grid-template-columns: 1fr;

	@include tablet {
		grid-template-columns: repeat(3, auto);
	}

	@include desktop {
		grid-template-columns: repeat(4, 25%);
	}
}

.article-container {
	width: 100%;
	position: relative;
}

.article-desc {
	position: absolute;
	bottom: 0;
	color: #FFF;
	padding: 10px;
	background: rgba(0, 0, 0, .5);
	margin: 0;
	transition:all .3s ease-in;

}


.article-image {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.select-section {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@include tablet {
		justify-self: start;
	}
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.article-desc:hover {
	opacity: 0;
}